{% extends 'app/base.html' %}

{% block content %}

  <div class="bg-white">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset your password</h2>
        </div>
    
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">{{ field.label_tag }}</label>
                        <div class="mt-1">
                        <input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="text" required="" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                {% endfor %}

    
            <div>
                <button type="submit" value="login" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Send Me a Password-Reset Link</button>
            </div>
            </form>
        </div>
        </div>
        {% if form.errors %}
        {% for error in form.errors %}
            <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-4xl">
                    <div class="rounded-md bg-red-50 p-4">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-red-400" x-description="Heroicon name: mini/x-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">Attention needed</h3>
                                <div class="mt-2 text-sm text-red-700">
                                    <p>That's not a valid e-mail address. Please try again.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
          {% endfor %}
          {% endif %}
          </div>
  </div>
{% endblock %}