{% extends './base.html' %}

{% load static %}

{% block content %}
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="pt-12 sm:pt-16 lg:pt-20">
                <p class="mt-6 text-sm text-gray-500">
                    <time datetime="2020-03-16">{{ news.date_created }}</time>
                  </p>
                <h2 class="mt-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ news.title }}</h2>
                <div class="mt-6 space-y-6 text-gray-500">
                  <p class="text-base leading-7">{{ news.content }}</p>
                </div>
              </div>
              <div class="sm:col-span-6">
                <div class="mt-9 flex items-center">
                  {% if user.is_superuser or user.is_staff %}
                    <img class="inline-block h-12 w-12 rounded-full" src="{% get_media_prefix %}profile_pics/default.jpg" alt="">
                  {% elif request.user.is_teacher %}
                    <img class="inline-block h-12 w-12 rounded-full" src="{{ user.teacher.profile_picture.url }}" alt="">
                  {% elif request.user.is_student %}
                    <img class="inline-block h-12 w-12 rounded-full" src="{{ user.student.profile_picture.url }}" alt="">
                  {% endif %}
                  <div class="ml-4 flex">
                    <div>
                      <p class="block text-sm font-medium text-blue-gray-900">
                        {% if news.posted_by.is_teacher %}
                          {{ news.posted_by.teacher.first_name }} {{ news.posted_by.teacher.last_name }}
                        {% elif news.posted_by.is_student %}
                          {{ news.posted_by.student.first_name }} {{ news.posted_by.student.last_name }}
                        {% else %}
                          {{ news.posted_by.username }}  <!-- Fallback if the user is neither a teacher nor a student -->
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

 
{% endblock %}