{% extends './base.html' %}

{% block content %}

<div class="bg-white">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" method="POST">
                {% csrf_token %}
                <div>
                    <label for="title" class="block text-sm font-medium text-gray-700">{{ form.title.label_tag }}</label>
                    <div class="mt-1">
                    <input id="{{ form.title.auto_id }}" name="{{ form.title.html_name }}" type="text" required="" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>
                <div>
                    <label for="content" class="block text-sm font-medium text-gray-700">{{ form.content.label_tag }}</label>
                    <div class="mt-1">
                      <textarea rows="4" name="content" id="content" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"></textarea>
                    </div>
                  </div>

            <div>
                <button type="submit" value="Submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Post</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>

{% endblock content %}